.Rproj.user
.Rhistory
.RData
.Ruserdata
=======
*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.pdf
*.ps
*.toc
*.txt
*.out
*.snm
*.nav
*.png
*.synctex.gz*
knitr-cache
.RData
.RHistory
*.Rproj
*.dll
*.o
*.rda
/WCVIChinookStudy/samSimInputs/*
!/WCVIChinookStudy/samSimInputs/CUPars.csv
!/WCVIChinookStudy/samSimInputs/SimPars.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc.csv




myNotes.*
Random Docs
.Rproj.user/

