.Rproj.user
.Rhistory
.RData
.Ruserdata
=======
*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.pdf
*.ps
*.toc
*.txt
*.out
*.snm
*.nav
*.png
*.synctex.gz*
knitr-cache
.RData
.RHistory
#*.Rproj
*.dll
*.o
*.rda
/WCVIChinookStudy/samSimInputs/*
!/WCVIChinookStudy/samSimInputs/CUPars.csv
!/WCVIChinookStudy/samSimInputs/CUPars_wBC.csv
!/WCVIChinookStudy/samSimInputs/CUPars_nBC.csv
!/WCVIChinookStudy/samSimInputs/SimPars.csv
!/WCVIChinookStudy/samSimInputs/SimPars_singleER.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc_halfA.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc_narrow.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc_alphaScalar1.5_SREPScalar1.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc_alphaScalar0.5_SREPScalar1.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc_alphaScalar1_SREPScalar1.5.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc_alphaScalar1_SREPScalar0.5.csv
/WCVIChinookStudy/samSimOutputs/*
/WCVIChinookStudy/Figures/*
!/WCVIChinookStudy/Figures/ProjectedLRPs/compareEscCor-cvER.png
!/WCVIChinookStudy/Figures/ProjectedLRPs/compareEscCor-Ages.png
!/WCVIChinookStudy/Figures/ProjectedLRPs/compareEscCor-recCorSca.png
!/WCVIChinookStudy/Figures/ProjectedLRPs/Alphas-ProjLRPCurve-ALLp.png
!/WCVIChinookStudy/Figures/ProjectedLRPs/baseER-ProjLRPCurve-ALLp.png
!/WCVIChinookStudy/Figures/ProjectedLRPs/baseERn10000-ProjLRPCurve-ALLp.png
!/WCVIChinookStudy/Figures/ProjectedLRPs/cvER-ProjLRPCurve-ALLp.png
!/WCVIChinookStudy/Figures/ProjectedLRPs/ERs-ProjLRPCurve-ALLp.png
!/WCVIChinookStudy/Figures/statusPlot-withBars2020.png
/WCVIChinookStudy/DataOut/*
!/WCVIChinookStudy/DataIn/Input_LRdiagnostics.rda
!/SCChumStudy/DataIn/logisticFit_2018.rda
!/Code/TMB_Files/Logistic_LRPs_BoxTidwell.dll
!/Code/TMB_Files/Logistic_LRPs_BoxTidwell.o
!/SCChumStudy/DataOut/logisticFit_2018Output.rda
!/SCChumStudy/DataOut/logisticFit_2018Outputv2.rda
!/SCChumStudy/DataOut/SCChumTest.png
!/SCChumStudy/DataOut/SCChumTestacf.png
!/WCVIChinook/Figures/sameSREPhCor-SRHist.png
!/WCVIChinook/Figures/sameProdhCor-SRHist.png
!/WCVIChinook/Figures/evenhCor-SRHist.png
!/WCVIChinook/Figures/ProjectedLRPs/ERsEven-hCor-ProjLRPCurve-Allp.png
!/WCVIChinook/Figures/ProjectedLRPs/ERsSameSREP-hCor-ProjLRPCurve-Allp.png
!/WCVIChinook/Figures/ProjectedLRPs/ERsSameProd-hCor-ProjLRPCurve-Allp.png

myNotes.*
Random Docs
.Rproj.user/

