.Rproj.user
.Rhistory
.RData
.Ruserdata
=======
*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.pdf
*.ps
*.toc
*.txt
*.out
*.snm
*.nav
*.png
*.synctex.gz*
knitr-cache
.RData
.RHistory
#*.Rproj
*.dll
*.o
*.rda
/WCVIChinookStudy/samSimInputs/*
!/WCVIChinookStudy/samSimInputs/CUPars.csv
!/WCVIChinookStudy/samSimInputs/CUPars_wBC.csv
!/WCVIChinookStudy/samSimInputs/CUPars_nBC.csv
!/WCVIChinookStudy/samSimInputs/SimPars.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc_halfA.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc_narrow.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc_alphaScalar1.5_SREPScalar1.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc_alphaScalar0.5_SREPScalar1.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc_alphaScalar1_SREPScalar1.5.csv
!/WCVIChinookStudy/samSimInputs/Ricker_mcmc_alphaScalar1_SREPScalar0.5.csv
/WCVIChinookStudy/samSimOutputs/*
/WCVIChinookStudy/Figures/*
/WCVIChinookStudy/DataOut/*




myNotes.*
Random Docs
.Rproj.user/

