.Rproj.user
.Rhistory
.RData
.Ruserdata
=======

# Large GIS files
*.shp
*.dbf

# Include chum CU map
!fig_chum_CU_map.png

notes.docx
old_code_reference/
old_code_reference/*

DataIn/archive/*
R/archive/*

Random Docs
.Rproj.user/

