.Rproj.user
.Rhistory
.RData
.Ruserdata
=======

# Large GIS files
*.shp
*.dbf

# Include figures in github repo for inclusion in csas repo
!fig_chum_CU_map.png
!fig_a_b_annual_retro.png
!fig_Sgen_annual_retro.png
!fig_perc_benchmarks_annual_retro.png
!Figures/AnnualRetrospective/Bern.IndivRicker_NoSurv_noCUinfill_90/LogisticMod_2010.pdf
!Figures/AnnualRetrospective/Bern.Percentile_noCUinfill_90/LogisticMod_2018.pdf

notes.docx
old_code_reference/
old_code_reference/*

DataIn/archive/*
R/archive/*

Random Docs
.Rproj.user/

# Cannery data and analysis
1989+The_development_of_t+Pages=[273-274]+Date=[2021-05-17].pdf
get_cannery_data.R