.Rproj.user
.Rhistory
.RData
.Ruserdata
=======

# Large GIS files
*.shp
*.dbf

# Include figures in github repo for inclusion in csas repo
!fig_compare_actual_infill_by_stream_and_CU.png
!fig_a_b_SMSY_Sgen_retro.png
!fig_perc_benchmarks_annual_retro.png
!fig_percentile_bm_rel_abd.png
!Figures/AnnualRetrospective/Bern.IndivRicker_NoSurv_noCUinfill_90/LogisticMod_2012.pdf
!Figures/AnnualRetrospective/Bern.Percentile_noCUinfill_90/LogisticMod_2018.pdf
!Figures/fig_compare_LRP_methods.png
!Figures/fig_chum_spawners_corr.png

notes.docx
old_code_reference/
old_code_reference/*

DataIn/archive/*
R/archive/*

Random Docs
.Rproj.user/

# Cannery data and analysis
1989+The_development_of_t+Pages=[273-274]+Date=[2021-05-17].pdf
get_cannery_data.R